@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navitem:hover {
  color: #d5d5d5;
  text-decoration: underline;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowdown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logo-pc {
  width: 240px;
  margin-left: -10px;
  margin-right: 35px;
}

#button {
  margin-top: 50px;
  padding: 13px 25px;
  border: 2px solid white;
}

#button1 {
  margin-bottom: 200px;
  padding: 18px 23px;
  border: 2px solid white;
  margin-left: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer a {
  text-decoration: none;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer a:hover {
  color: #d5d5d5;
  text-decoration: underline;
}
.footer .copy {
  color: #555252;
}

.downloadDesc {
  padding-top: 240px;
  height: 85vh;
}
.downloadDesc a {
  text-decoration: none;
  color: white;
}
.downloadDesc a:hover {
  color: #D8D8D8;
  text-decoration: underline;
}

@media (max-width: 405px) {
  .logo-pc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 396px) {
  .logo-pc {
    width: 150px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
.container00.container01 {
  background-image: url("../../imagens/home/01.jpg");
}
.container00.container02 {
  background-image: url("../../imagens/home/03.jpg");
}
.container00.container03 {
  background-image: url("../../imagens/home/02.gif");
}
.container00.container04 {
  background-image: url("../../imagens/home/04.jpg");
}

.tittle {
  padding-top: 200px;
}

.shortTittle {
  width: 550px;
  margin-bottom: -25px;
}

@media (max-width: 750px) {
  .tittle {
    padding-top: 120px;
  }
  .shortTittle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 465px) {
  .tittle {
    padding-top: 120px;
  }
  .shortTittle {
    width: auto;
    font-size: 30px;
  }
  .footer {
    font-size: 9px;
  }
}
.container00.container05 {
  background-image: url("../../imagens/falcon9/01.jpg");
}
.container00.container06 {
  background-image: url("../../imagens/falcon9/02.jpg");
}
.container00.container07 {
  background-image: url("../../imagens/falcon9/08.jpg");
}

.container00.carrossel01 {
  background-image: url("../../imagens/falcon9/03.jpg");
}
.container00.carrossel02 {
  background-image: url("../../imagens/falcon9/04.jpg");
}
.container00.carrossel03 {
  background-image: url("../../imagens/falcon9/05.jpg");
}
.container00.carrossel04 {
  background-image: url("../../imagens/falcon9/06.jpg");
}
.container00.carrossel05 {
  background-image: url("../../imagens/falcon9/07.jpg");
}

.tittlectt {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
}

.tittlefalcon9 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 6rem;
}

.subtittlefalcon9 {
  font-family: "Rubik", sans-serif;
}

.carouselText {
  background-color: black;
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .tittlenumber {
  font-size: 90px;
}
.numbers .subtittlenumber {
  font-size: 20px;
}

.falcon9Desc {
  width: 640px;
  font-size: 22px;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.carousel-item > img {
  height: 100vh;
}

@media (max-width: 1024px) {
  .numbers .tittlenumber {
    font-size: 85px;
  }
  .numbers .subtittlenumber {
    font-size: 20px;
  }
  .falcon9Desc {
    width: 500px;
    font-size: 22px;
    line-height: 50px;
  }
  #overViewPosition {
    width: 450px;
    margin-left: 5%;
    padding-top: 18%;
    padding-bottom: 10%;
  }
}
@media (max-width: 768px) {
  .numbers .tittlenumber {
    font-size: 80px;
  }
  .numbers .subtittlenumber {
    font-size: 18px;
  }
  .falcon9Desc {
    width: auto;
  }
  #overViewPosition {
    width: 380px;
    margin-left: 5%;
    padding-top: 22%;
  }
}
@media (max-width: 576px) {
  .numbers {
    height: 80vh;
  }
  .falcon9Desc {
    width: auto;
  }
  #overViewPosition {
    width: 380px;
    margin-left: 5%;
    padding-top: 22%;
  }
  .tittlefalcon9 {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 5rem;
  }
  #button1 {
    font-size: 10px;
  }
}
@media (max-width: 412px) {
  .tittlefalcon9 {
    font-size: 4rem;
  }
}
@media (max-width: 411px) {
  #overViewPosition {
    width: auto;
  }
  #button1 {
    font-size: 8px;
  }
  .downloadDesc > p {
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  .tittlefalcon9 {
    font-size: 3rem;
  }
  .subtittlefalcon9 {
    font-size: 10px;
  }
  #button1 {
    font-size: 6px;
  }
  .downloadDesc > p {
    font-size: 12px;
  }
  #overViewPosition {
    width: auto;
  }
}
.container00.container08 {
  background-image: url("../../imagens/humanFlight/01.jpg");
}
.container00.container09 {
  background-image: url("../../imagens/humanFlight/02.jpg");
}
.container00.container10 {
  background-image: url("../../imagens/humanFlight/03.jpg");
}
.container00.container11 {
  background-image: url("../../imagens/humanFlight/04.jpg");
}
.container00.container12 {
  background-image: url("../../imagens/humanFlight/05.jpg");
}

.email {
  text-decoration: none;
  color: white;
}
.email:hover {
  color: #D8D8D8;
  text-decoration: underline;
}

.container01ctt {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container01ctt .tittlehuman {
  font-size: 120px;
}
.container01ctt .subtittlehuman {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30;
  font-weight: 300;
}

.eartDesc {
  background-color: black;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eartDesc .textDescription {
  color: #D8D8D8;
  font-weight: 400;
  font-size: 20px;
  width: 800px;
}

.containerRightContent {
  margin-left: 55%;
  padding-top: 10%;
}

.titleSection {
  font-size: 60px;
  font-weight: bold;
}

.subtitle {
  font-weight: 300;
  margin-bottom: 40px;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 15%;
}

@media (max-width: 768px) {
  .container01ctt .tittlehuman {
    font-size: 90px;
  }
  .container01ctt .subtittlehuman {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 300;
  }
  .eartDesc .textDescription {
    color: #D8D8D8;
    font-weight: 400;
    font-size: 18px;
    width: 800px;
  }
  .containerRightContent {
    margin-left: 15%;
  }
  .containerRightContent .titleSection {
    font-size: 50px;
  }
  .containerRightContent .subTitle {
    font-size: 14px;
  }
  .containerLeftContent {
    margin-left: 15%;
  }
}
@media (max-width: 425px) {
  .container01ctt .tittlehuman {
    font-size: 50px;
  }
  .container01ctt .subtittlehuman {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .container01ctt .tittlehuman {
    font-size: 50px;
  }
  .container01ctt .subtittlehuman {
    font-size: 20px;
  }
  .eartDesc .textDescription {
    font-size: 15px;
  }
  .containerRightContent {
    margin-left: 10%;
  }
  .containerLeftContent {
    margin-left: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
