* {
    padding: 0;
    margin: 0;
}

.cabecalho {
    background-color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    gap:25px;
    font-size: 18px;
}

.logo >h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    color: black;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.card-text {
    font-weight: 450;
    font-style: italic;
}

.border:hover {
    border: 1px solid black;
}

.card:hover {
    border: 2px solid black;
}

.center {
    text-align: center;
    margin-bottom: 2%;
}

.mestre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15%;
}

.image > img {
    width: 450px;
}

.form-pd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.formtittle {
    margin-bottom: 30px;
}

main {
    background-color: rgba(85, 85, 85, 0.425);
}

.maintittle > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    margin-top: 10%;
}

.txt {
    background-color: rgba(0, 0, 0, 0.711);
    width: 23%;
    display: flex;
    color: white;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
}

.mainparagrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bolder;

}
.paragrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    width: 45vw;
    margin-bottom: 18%;
}

.img-form > img {
    width: 450px;
}

.imgmenu {
    width: 40px;
}

.menu-drop {
    font-family: 'Poppins', sans-serif;
}

.dropdown {
    display: none;
}

/*MENU2*/
.menutwo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    margin-top: 4%;
}

.menu22 {
    list-style-type: none;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px white;
    text-decoration: none;
}

.menu22 > a{ 
    text-decoration: none;
}

.menu22 > a:visited { 
    color: white;
}


.menu22 > a:hover {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.menu22:hover {
    background-color: white;
    text-decoration: none;
    color: black;
    border: solid 1px black;
    transition:background-color 1s;

}

/*----------------FIM----------------------*/

form {
    width: 40vw;
}

footer {
    background-color: black;
    padding: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.p-ft {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.butoes {
    margin-bottom: 25%;
    display: flex;
    justify-content: start;
}

.btn2 {
    display: flex;
    justify-content: center;
}

@media (max-width:992px) {
    .img-form > img {
        width: 450px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .center {
        text-align: center;
    }
    .mestre {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .txt {
        width: 30%;
    }

    .formtittle {
        margin-bottom: 30px;
    }

    .ajuste {
        margin-top: 20px;
    }

    .att {
        margin-left: 250px;
        margin-top: -10px;
    }

    .menu2 {
        display: none;
    }

    .dropdown {
        display: block;
    }
    
}

@media (max-width:992px) {
    .menu2 {
        display: none;
    }

    .dropdown {
        display: block;
    }
}

@media (max-width:425px) {
    .maintittle > h1 {
        font-size: 50px;
        margin-top: 10%;
    }
    
    .mainparagrafo {
        font-size: 1rem;
        font-weight: bolder;
    }

    .logo >h1 {
        font-size: 3rem;
    }
    .paragrafo {
        width: 80vw;
    }

    .contato {
        display: flex;
        justify-content: start;
    }

    .butoes {
        display: flex;
        justify-content: start;
    }

    form {
        width: 80vw;
    }

    .txt {
        width: 40%;
    }

    .formtittle {
        margin-bottom: -40px;
    }
    
    .att {
        margin-left: 250px;
        margin-top: -80px;
    }


}

@media (max-width:325px) {
    .logo >h1 {
        font-size: 2rem;
    }
    .txt {
        width: 50%;
    }
}
