* {
    padding: 0;
    margin: 0;
}

.cabecalho {
    background-color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    gap:25px;
    font-size: 18px;

}

.links > a {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.267);
    font-weight: bolder;
    text-decoration: none;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid white;
}

.links > a:hover {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    border: 1px solid black;
}

.logo >h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    color: black;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.card-text {
    font-weight: 450;
    font-style: italic;
}

.border:hover {
    border: 1px solid black;
}

.card:hover {
    border: 2px solid black;
}

.center {
    text-align: center;
    margin-bottom: 2%;
}

.mestre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15%;
}

.image > img {
    width: 450px;
}

.form-pd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.formtittle {
    margin-bottom: 30px;
}

main {
    background-color: rgba(85, 85, 85, 0.425);
}

.maintittle > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    margin-top: 10%;
}

.txt {
    background-color: rgba(0, 0, 0, 0.711);
    width: 23%;
    display: flex;
    color: white;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
}

.mainparagrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bolder;

}
.paragrafo {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    width: 45vw;
    margin-bottom: 18%;
}

.img-form > img {
    width: 450px;
}

form {
    width: 40vw;
}

footer {
    background-color: black;
    padding: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.p-ft {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.butoes {
    margin-bottom: 25%;
    display: flex;
    justify-content: start;
}

.btn2 {
    display: flex;
    justify-content: center;
}

@media (max-width:992px) {
    .img-form > img {
        width: 450px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .center {
        text-align: center;
    }
    .mestre {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .txt {
        width: 30%;
    }

    .formtittle {
        margin-bottom: 30px;
    }
    
}

@media (max-width:425px) {
    .maintittle > h1 {
        font-size: 50px;
        margin-top: 10%;
    }
    
    .mainparagrafo {
        font-size: 1rem;
        font-weight: bolder;
    }

    .logo >h1 {
        font-size: 3rem;
    }
    .paragrafo {
        width: 80vw;
    }

    .contato {
        display: flex;
        justify-content: start;
    }

    .butoes {
        display: flex;
        justify-content: start;
    }

    form {
        width: 80vw;
    }

    .txt {
        width: 40%;
    }

    .formtittle {
        margin-bottom: -40px;
    }
}

@media (max-width:325px) {
    .logo >h1 {
        font-size: 2rem;
    }
    .txt {
        width: 50%;
    }
}
