@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;

}
body {
    background-color: #C5EBD6;
}

img {
    display: block;
    margin: auto;
}

#video {
    background-color: #3DDC84;
    padding: 15px;

}

iframe {
    display: block;
    margin: auto;

}

.img {
    width: 100%;
}

nav#menu {
    line-height: 1.5em;
    word-spacing: 20px;
    text-indent: 5px;
    background-color:#14be61;
    padding: 3px;
    text-shadow: 2px 2px 2px #063D13;
}

a {
    text-decoration: none;
}

a:visited{
    color: white;

}

#link {
    font-family:'Bebas Neue';
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 5px;
    padding: 3px;
    transition-duration: .5s;
}

#titulo {
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #063D13;
    margin-bottom: 3px;

}

.titulos {
    font-family: 'idroid';
    color: #063D13;
    background-color: #063d1328;
    font-size: 35px;
    text-indent: 20px;
    width: auto;

}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 5px;
    text-indent: 30px;
    margin: 15px 0px;
}

#sub-titulo {
    font-family: 'Arial';
    font-size: 15px;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 5px;
    margin-top: 1px;
}

header {
    background-color: #3DDc84;
    padding: 5px;
}

header > p {
    text-align: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 2px #063D13;
    
}

main {
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    margin: 0px auto 0px auto;
    box-shadow: 2px 2px 10px black;
    margin-bottom: 20px;

}


#unico {
    color: white;
    font-size: 18px;
    background-color: #3DDC84;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


.unico2 {
    background-color: #9bd8b6;
    border-radius: 5px;
    width: 750px;
    display: block;
    margin: auto;
    margin: 10px auto 10px auto;
    box-shadow: 2px 2px 10px black;
    color: hsl(hue, saturation, lightness)
}

footer > p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #063D1E;
    font-weight: bolder;
    padding: 10px;
    color: white;
    margin: auto;
}

ul {
    display: inline-block;
    list-style-position: inside;
    columns: 2;
}

li {
    font-weight: bolder;
    margin: auto;
    list-style: none;
}


li::before {
    content: "✔";
}
